@media screen {
  .authComponent {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    align-items: center;
    flex-direction: column;
    color: var(--light-primary-color);
    background-color: var(--background-color);
  }

  .authComponentBgImage {
    display: none;
    position: relative;
  }

  .authWrapper {
    display: flex;
  }

  .formContainer {
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .formHeader {
    gap: 10px;
    display: flex;
    padding-top: 50px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .formHeader h1 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--primary-color);
  }

  .formHeader p {
    font-size: 1rem;
    font-weight: 400;
  }

  .authLogo {
    width: 80px;
    height: 80px;
    padding: 10px;
    width: fit-content;
    border-radius: 360%;
    background-color: var(--light-background-color);
  }

  .authInput {
    gap: 10px;
    width: 100%;
    display: flex;
    padding: 0 20px;
    height: 60px;
    align-items: center;
    border-radius: 15px;
    background: var(--light-background-color);
  }

  .authInput input {
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    background: transparent;
  }

  .authInput input::placeholder {
    font-size: .9rem;
  }
  
  .authIcon {
    font-size: 20px;
    color: var(--light-primary-color);
  }

  .authInput:hover .authIcon {
    color: var(--secondary-color);
  }

  .authInput select {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
  }

  .showBtn {
    cursor: pointer;
    background-color: transparent;
  }

  .termsContainer {
    gap: 10px;
    display: flex;
    align-items: center;
  }

  .termsContainer input[type="checkbox"] {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    -webkit-appearance: button;
    appearance: button;
    border: double 2px var(--background-color);
    background-color: transparent;
    color: var(--background-color);
    white-space: nowrap;
    overflow: hidden;
    outline: none;
    width: 20px;
    height: 20px;
  }

  .termsContainer input[type="checkbox"]:checked {
    background-color: transparent;
    border-left-color: var(--secondary-color);
    border-right-color: var(--secondary-color);
  }

  .termsContainer label {
    cursor: pointer;
    font-size: .9rem;
    text-decoration: underline;
  }

  .termsContainer label:hover {
    color: var(--secondary-color);
  }

  .authBottomBtn {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .formAuthButton {
    gap: 10px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
    color: var(--background-color);
    background-color: var(--primary-color);
  }

  .resendButton {
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }

  .resendButton:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
  }

  .formAuthButton:hover {
    background-color: var(--secondary-color);
  }

  .formChange {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .forgotpasswordspan {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .formChange, .forgotpasswordspan span {
    cursor: pointer;
    font-size: .9rem;
    text-decoration: underline;
  }

  .formChange span:hover {
    color: var(--secondary-color);
  }

  .forgotpasswordspan span:hover {
    color: var(--secondary-color);
  }

  .authBottomBtn p span {
    font-size: .8rem;
    text-decoration: underline;
  }

  .formContainer h3 {
    gap: 10px;
    display: flex;
    font-size: 0.9rem;
    font-weight: 300;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .btnLoginContainer {
    color: var(--secondary-color);
    text-decoration: underline;
    cursor: pointer;
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .authComponent {
    gap: 30px;
    display: flex;
    padding: 40px;
    overflow-y: hidden;
    flex-direction: row;
    align-items: center;
    background-color: var(--background-color);
  }

  .authComponentBgImage {
    flex: 0 0 50%; 
    height: 100%;
    display: flex;
    padding: 20px;
    border-radius: 60px;
    align-items: center;
    justify-content: center;
    background: var(--background-color);
    background: var(--linear-gradient-color);
  }

  .authWrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .formContainer {
    width: 100%;
    min-width: 400px;
    max-width: 500px;
    padding: 40px;
  }

  .advertImage {
    border-radius: inherit;
    object-position: center bottom;
  }

  .authText {
    padding: 20px;
    font-size: 2rem;
    font-weight: 200;
    color: var(--background-color);
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
  .authComponentBgImage {
    flex: 0 0 50%; 
  }
  
  .formContainer {
    min-width: 350px;
    max-width: 420px;
  }
}

/* large screens : Desktop and 4k screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .authComponentBgImage {
    flex: 0 0 50%; 
  }
  
  .formContainer {
    min-width: 400px;
    max-width: 480px;
  }
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
  .authComponentBgImage {
    flex: 0 0 50%; 
  }
  
  .formContainer {
    min-width: 420px;
    max-width: 520px;
  }
}