@media screen {
  .navContainer {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 1000;
    height: var(--navbar-mobile-height);
    background-color: var(--background-color);
    border-bottom: 2px solid var(--light-background-color);
  }

  .menuContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navLogo {
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
  }

  .menuicon {
    width: 30px;
    height: 100%;
  }

  .navContainerInner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navlinksContainer {
    gap: 15px;
    display: none;
  }

  .navlinks {
    font-size: 1rem;
    color: var(--primary-color);
  }

  .navlinks:hover {
    color: var(--secondary-color);
  }

  .activeNavLinks {
    color: var(--secondary-color);
  }

  .navStart {
    display: none;
  }

  .profileImgContainer {
    width: 50px;
    height: 50px;
    min-height: 50px;
    cursor: pointer;
    position: relative;
    border-radius: 360%;
  }

  .profileImg {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center;
  }

  .navButton {
    gap: 10px;
    display: flex;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    color: var(--background-color);
    background-color: var(--primary-color);
  }

  .navButton:hover {
    background-color: var(--secondary-color);
  }

  .userIcon {
    font-size: 20px;
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .navContainer {
    top: 0;
    width: 100%;
    display: flex;
    position: sticky;
    box-shadow: none;
    min-height: 70px;
    height: var(--navbar-height);
    justify-content: space-between;
  }

  .menuContainer {
    display: none;
  }

  .logo {
    height: 100%;
    width: 120px;
  }

  .navlinksContainer {
    display: flex;
  }

  .navContainerInner {
    position: relative;
    justify-content: space-between;
  }

  .navStart {
    gap: 10px;
    display: flex;
  }

  .navStartContainer {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .userContainerDetails {
    gap: 10px;
    display: flex;
    text-transform: capitalize;
  }

  .userContainer {
    gap: 5px;
    display: flex;
    flex-direction: column;
  }

  .userContainer h1 {
    font-size: 1rem;
    font-weight: 300;
  }

  .userContainer h2 {
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--secondary-color);
  }
}
