@media screen {
  .pageLayout {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;

  }

  .pageContent {
    background-color: var(-background-color);
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .pageLayout {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
  }

  .pageChildren {
    flex: 1;
  }
}
