@media screen {
  .sportLayout {
    gap: 10px;
    display: flex;

  }

 
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .sportLayout {
    padding: 10px;
    height: 100vh;
    height: 100dvh;
    justify-content: space-between;
  }

  .nopredictionLayout {
    height: auto;
  }
 
  /* .sportLayout::-webkit-scrollbar {
    display: none;
  } */
/* 
  .sportLayout {
    scrollbar-width: none;

  } */
}
